# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Media
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.ico
*.mov
*.mp3
*.mp4
*.avi

# Logs and databases
*.log
*.sql
*.sqlite

# VS code
.vscode
```